body {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.032em;
}

.content-1 {
    background: rgba(63, 138, 250, 0.042);
}

.navbar .navbar-expand {
    
}